---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="desc">
  <div un-text="white" un-fcer un-wh-screen>
    <div>
      <div>desc page</div>

      <a href="/">back</a>
    </div>
  </div>
</BaseLayout>
