// 断点
$mobile: 768px;
$pad: 1200px;
$pc: 1920px;
$min-width: 768;
$max-width: 1920;
$root-fs: 16;

@function vw($px) {
  @return #{calc($px / $max-width * 100)}vw;
}
@function rem($px) {
  @return #{calc($px / $root-fs)}rem;
}
@function rpx($px) {
  @return #{calc($px / 750 * 100)}vw;
}
@function px($px) {
  $min-ratio: calc($min-width / $max-width);
  $min: #{$px * $min-ratio}px;
  $max: #{$px * 1}px;
  $normal: vw($px);

  @if $px < 0 {
    $min: #{$px * 1}px;
    $max: #{$px * $min-ratio}px;
  }

  @return clamp($min, $normal, $max);
}

@function f($min, $max) {
  $slope: calc(($max - $min) / ($max-width - $min-width));
  $slopeForClamp: $slope * 100;
  $intersection: calc((0 - $min-width) * $slope + $min);

  @if $max > $min {
    @return clamp(rem($min), rem($intersection) + #{$slopeForClamp}vw, rem($max));
  } @else {
    @return clamp(rem($max), rem($intersection) + #{$slopeForClamp}vw, rem($min));
  }
}

// mixins
@mixin forMobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin forPad {
  @media screen and (min-width: ($mobile + 1)) and (max-width: $pad) {
    @content;
  }
}

@mixin forPC {
  @media screen and (min-width: ($mobile + 1)) {
    @content;
  }
}

@mixin forWidenPC {
  @media screen and (min-width: $pc) {
    @content;
  }
}
